body {
    background-color: black;
    color: darkkhaki;
}

.containerCalories {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 20px;
    left: 20px;
}

.containerExercises {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 20px;
    left: 520px;
}
